* {
  margin: 0px;
}

$brand-color: #7d97ad;
$primary-color: #2d3c49;
$secundary-color: #02b3e4;

a, a:link, a:visited {
  text-decoration: none;
  color: $primary-color;
}

.navbar {
  align-items: center;
  display: flex;
  border-bottom: 3px solid $brand-color;
  justify-content: space-between;
  padding: 16px;
}

.navbar_items {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  list-style: none;
  font-family: sans-serif;
  color: $primary-color;
  order: 1;
}

.nav_title {
  font-size: 36px;
  font-weight: lighter;
  user-select: none;
}

.udacity_logo {
  height: 48px;
  fill: $secundary-color;
  order: 2;
  width: 48px;
}

.portfolio {
  margin-bottom: 32px;
}

.portfolio_image {
  height:400px;
  margin-top: 16px;
  max-width: 100%;
  object-fit: cover;
}

.portfolio_title {
  color: $brand-color;
  display: flex;
  font-size: 28px;
  font-family: sans-serif;
  font-weight: lighter;
  margin-bottom: 16px;
  justify-content: center;
  margin-top: 32px;
}

.portfolio_wrapper {
  align-items: center;
  display: flex;
  justify-content: space-evenly;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.portfolio_item {
  align-items: center;
  flex-direction: column;
  display: flex;
  font-family: sans;
  margin-bottom: 32px;
}

.portifolio_title {
  color: $primary-color;
  margin-top: 16px;
  font-size: 22px;
  text-transform: uppercase;
}

.portifolio_description {
  font-size: 12px;
}