/* stylelint-disable-next-line selector-max-universal */
* {
  margin: 0;
}

/* stylelint-disable-next-line selector-max-type */
a, a:link, a:visited {
  color: #2d3c49;
  text-decoration: none;
}

.navbar {
  align-items: center;
  border-bottom: 3px solid #7d97ad;
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.navbar__items {
  align-items: flex-end;
  color: #2d3c49;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  list-style: none;
  order: 1;
}

.nav__title {
  font-size: 36px;
  font-weight: 100;
  user-select: none;
}

.udacity__logo {
  fill: #02b3e4;
  height: 48px;
  order: 2;
  width: 48px;
}

.portfolio {
  margin-bottom: 32px;
}

.portfolio__image {
  height: 400px;
  margin-top: 16px;
  max-width: 100%;
  object-fit: cover;
}

.portfolio__title {
  color: #7d98ad;
  display: flex;
  font-family: sans-serif;
  font-size: 28px;
  font-weight: 100;
  justify-content: center;
  margin-bottom: 16px;
  margin-top: 32px;
}

.portfolio__wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.portfolio__item {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Verdana", "Geneva", "Tahoma", sans-serif;
  margin-bottom: 32px;
}

.portifolio__title {
  color: #2d3c49;
  font-size: 22px;
  margin-top: 16px;
  text-transform: uppercase;
}

.portifolio__description {
  font-size: 12px;
}
